<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Table Sort</title>
    <link rel='stylesheet' href='/css/index.min.css'>
</head>
<body>
<header>
    <h1>Table Sort</h1>
</header>
<main>
  <section class='table-container'>
    <table id='table-people'>
        <thead>
          <tr>
            <th data-ascend='false'>id <span class='caret'></span></th>
            <th data-ascend='false'>First Name <span class='caret'></span></th>
            <th data-ascend='false'>Last Name <span class='caret'></span></th>
            <th>Email</th>
            <th data-ascend='false'>Gender <span class='caret'></span></th>
            <th data-ascend='false'>Age <span class='caret'></span></th>
          </tr>
        </thead>
        <tbody>
            <% if (locals.people && people.length) { %>
                <% people.forEach(function(person){ %>
                    <%- include('table-row', {person}) %>
                <% }) %>
            <% } %>
        </tbody>
      </table>
    </section>
<script src='./js/main.js' type='module'></script>
</main>
</body>
</html>